pkgbase = deadbeef
	pkgdesc = Modular GTK audio player for GNU/Linux
	pkgver = 1.9.1
	pkgrel = 1
	url = https://deadbeef.sourceforge.io/
	arch = x86_64
	arch = i686
	arch = pentium4
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL2
	license = LGPL2.1
	license = ZLIB
	makedepends = clang
	makedepends = curl
	makedepends = faad2
	makedepends = ffmpeg4.4
	makedepends = flac
	makedepends = imlib2
	makedepends = intltool
	makedepends = libcddb
	makedepends = libcdio
	makedepends = libmad
	makedepends = libpulse
	makedepends = libsamplerate
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = libx11
	makedepends = libzip
	makedepends = mpg123
	makedepends = opusfile
	makedepends = pkgconfig
	makedepends = wavpack
	makedepends = yasm
	makedepends = zlib
	depends = alsa-lib
	depends = gtk3
	depends = jansson
	depends = libdispatch
	optdepends = alsa-oss: for OSS output plugin
	optdepends = cdparanoia: for cd audio plugin
	optdepends = dbus: for notification daemon support (OSD current song notifications)
	optdepends = libice: optional dependency for gtkui session client support
	optdepends = libogg: for ogg vorbis plugin
	optdepends = libsidplay: for SID player plugin
	optdepends = libsm: optional dependency for gtkui session client support
	optdepends = pulseaudio: for PulseAudio output plugin
	source = https://sourceforge.net/projects/deadbeef/files/travis/linux/1.9.1/deadbeef-1.9.1.tar.bz2
	sha512sums = 2f959fb139078bbde3c1183019545ed3979b3c5dfc051794ea7a5ccf166156acc8d5dface3169ec705059f487d47c9b314c5400770a7572c22fbd0b903eefc5a

pkgname = deadbeef
