pkgbase = deadbeef
	pkgdesc = Modular GTK audio player for GNU/Linux
	pkgver = 1.9.2
	pkgrel = 1
	url = https://deadbeef.sourceforge.io/
	arch = x86_64
	arch = i686
	arch = pentium4
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL2
	license = LGPL2.1
	license = ZLIB
	makedepends = clang
	makedepends = curl
	makedepends = faad2
	makedepends = ffmpeg4.4
	makedepends = flac
	makedepends = imlib2
	makedepends = intltool
	makedepends = libcdio
	makedepends = libmad
	makedepends = libpulse
	makedepends = libsamplerate
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = libx11
	makedepends = libzip
	makedepends = mpg123
	makedepends = pkgconfig
	makedepends = wavpack
	makedepends = yasm
	makedepends = zlib
	depends = alsa-lib
	depends = jansson
	depends = gtk3
	depends = jansson
	depends = libcddb
	depends = libdispatch
	depends = opusfile
	optdepends = alsa-oss: for OSS output plugin
	optdepends = cdparanoia: for cd audio plugin
	optdepends = dbus: for notification daemon support (OSD current song notifications)
	optdepends = libice: optional dependency for gtkui session client support
	optdepends = libogg: for ogg vorbis plugin
	optdepends = libsidplay: for SID player plugin
	optdepends = libsm: optional dependency for gtkui session client support
	optdepends = pulseaudio: for PulseAudio output plugin
	source = https://sourceforge.net/projects/deadbeef/files/travis/linux/1.9.2/deadbeef-1.9.2.tar.bz2
	sha512sums = fa4298fb3a89b3891c2f0403b2c66e20f64206101ad44f53be5208a69b33d3de3e0ced329cf090c17a1a3c4f7b28920baf5f8c964df2b6bdea6095465d0a02d9

pkgname = deadbeef
